[submodule "QLUA"]
	path = QLUA
	url = git@github.com:ivansoft/qlua-quik-workspace.git
	fetchRecurseSubmodules = true
[submodule "python-dbg-controller"]
	path = Tools/python-dbg-controller
	url = git@github.com:ivansoft/python-dbg-controller.git
[submodule "lua-5.3.5"]
	path = LUA/lua-5.3.5/src
	url = https://github.com/lua/lua
	branch = v5.3
[submodule "lua-5.4.1"]
	path = LUA/lua-5.4.1/src
	url = https://github.com/lua/lua
	branch = v5.4
[submodule "luarocks"]
	path = LUA/luarocks
	url = https://github.com/luarocks/luarocks
[submodule "luamodules/dkjson"]
	path = SRC.luarocks/dkjson/src
	url = https://github.com/LuaDist/dkjson
[submodule "luamodules/lpeg"]
	path = SRC.luarocks/lpeg/src
	url = https://github.com/LuaDist/lpeg
[submodule "luamodules/inspect"]
	path = SRC.luarocks/inspect/src
	url = https://github.com/kikito/inspect.lua
[submodule "luamodules/kepler_copas"]
	path = SRC.luarocks/kepler_copas/src
	url = https://github.com/keplerproject/copas
[submodule "luamodules/kepler_luafs"]
	path = SRC.luarocks/kepler_luafs/src
	url = https://github.com/keplerproject/luafilesystem
[submodule "luamodules/kepler_luasql"]
	path = SRC.luarocks/kepler_luasql/src
	url = https://github.com/keplerproject/luasql
[submodule "luamodules/cjson"]
	path = SRC.luarocks/cjson/src
	url = https://github.com/mpx/lua-cjson
[submodule "luamodules/htmlEntities"]
	path = SRC.luarocks/htmlEntities/src
	url = https://github.com/TiagoDanin/htmlEntities-for-lua
[submodule "luamodules/multipart-post"]
	path = SRC.luarocks/multipart-post/src
	url = https://github.com/catwell/lua-multipart-post
[submodule "luamodules/luasec"]
	path = SRC.luarocks/luasec/src
	url = https://github.com/brunoos/luasec
[submodule "luamodules/luasocket"]
	path = SRC.luarocks/luasocket/src
	url = https://github.com/diegonehab/luasocket
[submodule "luamodules/luautf8"]
	path = SRC.luarocks/luautf8/src
	url = https://github.com/starwing/luautf8
[submodule "native/openssl"]
	path = SRC.native/openssl/openssl
	url = https://github.com/openssl/openssl
[submodule "native/perl"]
	path = SRC.native/openssl/strawberry-perl-5.40.0.1-bin
	url = https://github.com/ivansoft/strawberry-perl-5.40.0.1-64bit-portable
[submodule "native/sqlite"]
	path = SRC.native/sqlite/sqlite
	url = https://github.com/sqlite/sqlite
